* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to right, rgba(40, 61, 197, 0.5) 0%, rgb(2, 3, 38) 100%); */
    background-color: rgb(1, 29, 27);
    color: aliceblue;

}

.cardimg {
    width: 150px;
    height: 150px;
    /* border: 1px solid rgb(189, 18, 103); */
    margin: 2px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 15px 15px rgb(0, 9, 8);
    position: relative;
    text-align: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 0fr 0fr 0fr 0fr; */
    width: 618px;
    height: 460px;
    border: 1px solid yellow;
    border-radius: 5px;
    box-shadow: 0 0 15px 15px rgb(0, 9, 8);
    transform: translate(55%, 18%);
}

/* #aftermatched {
    background-color: rgba(62, 218, 62, 0.9);
} */

.div_for_matched {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: rgb(203, 192, 237);
    font-weight: 900;
    background-color: rgba(51, 28, 202, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 15px 15px rgb(19, 24, 1);
    width: 9rem;
    text-align: center;

}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: aqua;
    background-color: rgb(27, 26, 26);
    box-shadow: 0 0 15px 15px rgb(235, 210, 215);
    border-radius: 5px;
}

button {
    position: absolute;
    top: 5%;
    left: 45%;
    transition: all 0.2s;
    background-color: rgb(24, 12, 75);
    box-shadow: 0 0 5px 5px rgba(212, 210, 233, 0.4);
    border-radius: 5px;
    color: rgb(249, 237, 237);
    padding: 9px;
    font-weight: 900;
    text-align: center;
}

h1:hover {
    transition: all 0.2s;
    background-color: rgb(224, 224, 91);
    box-shadow: 0 0 15px 15px crimson;
    border-radius: 5px;
    color: black;
}

div {
    position: relative;
}

h3 {
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: 2em;

}